@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Open Sans", sans-serif;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 0 10px;
  position: relative;
  background: url("https://images.pexels.com/photos/1128797/pexels-photo-1128797.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2") no-repeat center center/cover;
}

body::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  z-index: -1;
}

.form-container {
  background-color: rgba(255, 255, 255, 0.3);
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  max-width: 500px;
  backdrop-filter: blur(10px);
  box-shadow: 0px 0px 10px rgba(255, 255, 255, 0.2);
  text-align: center;
}

h2 {
  color: #fff;
}

label {
  display: block;
  margin: 8px 0 4px;
  font-size: 14px;
  color: #fff;
}

input, select, textarea {
  width: 100%;
  padding: 8px;
  margin: 5px 0 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.6);
  color: #000;
}

.options-group {
    display: flex;
    gap: 15px;
    flex-wrap: wrap;
}


button {
  width: 100%;
  padding: 10px;
  background-color: #c57adb;
  color: white;
  border: none;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #c300ff;
}