body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: bisque;
    display:flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
}

.container {
    text-align: center;
    background-color: rgb(245, 191, 231);
    padding: 20px;
    border-radius: 10px;
    box-shadow: inset;

}

button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: aquamarine;
    color:rgb(19, 41, 59);
    border-radius: 5px;
    cursor:pointer;
}

button:hover {
    background-color: rgb(38, 101, 150);
}