body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background: #b6fdff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background: rgb(234, 255, 206);
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 5px gray;
    width: 300px;
}

input, select, textarea, button {
    width: 100%;
    margin: 5px 0;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button {
    background: blue;
    color: white;
    cursor: pointer;
}

button:hover {
    background: darkblue;
}