body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.registration__form {
    background: #fff;
    padding: 90px;
    border-radius: 10px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    width: 350px;
}

.heading {
    margin-top: -10px;
    margin-bottom: 40px;
    font-size: 40px;
    font-weight: 700;
    justify-content: center;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="date"],
select,
textarea {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}


input[type="radio"],
input[type="checkbox"] {
    margin-right: 50px;
}

.radio-group {
    display: flex;
    gap: 10px;
    align-items: center;
}

.checkbox-group {
    gap: 10px;
    align-items: center;
}

label {
    font-weight: bold;
    display: block;
    margin-top: 10px;
}

textarea {
    height: 80px;
    resize: none;
}

input[type="submit"] {
    width: 100%;
    background: #007bff;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: 0.3s;
}

input[type="submit"]:hover {
    background: #0056b3;
}